html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.banner-text {
  font-size: 2.4rem;
  width: 80%;
  text-align: center;
  color: white;
  margin: 0 auto;
}

#intro {
  width: 100%;
  height: 100%;
  background-color: #26a69a;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#introduction {
  width: 100%;
  height: 100px;
  align-content: center;
}

.rowIcons {
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: space-between;
  height: 30%;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
  overflow-x: hidden;
  padding: 10px;
}

.rowIcons>div {
  height: 100px;
}

.icon-color {
  background-color: white;
}

.icon-cloud {
  -webkit-mask: url(./images/icons/baseline-cloud-24px.svg) no-repeat center;
  mask: url(./images/icons/baseline-cloud-24px.svg) no-repeat center;
}

footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgray;
  text-align: center;
  line-height: 2.2;
  font-size: 1.2em;
}

#mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mainContent {
  flex: auto;
  width: 100%;
}

#experience-section, .card-container {
  display: flex;
  flex-direction: column;
}

.header-job {
  align-self: center;
  width: 80%;
}

.job-card {
  width: 80%;
  height: 180px;
  border: solid 1px lightgray;
  box-shadow: 1px 1px 1px lightgray;
  align-self: center;
  margin: 15px 0;
  padding: 15px;
}

.jobDescription {
  text-align: justify;
  padding: 10px;
}

.job-summary {
  display: flex;
  flex-direction: row;
}

.company-info {
  display: flex;
  flex-direction: column;
  height: 75px;
  margin-left: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.company-logo {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 65px;
  background-size: 100%;
  border: solid gray 1px;
}

.thermofisher-logo {
  background-image: url("../images/thermofisher-logo.png");
}

.samsung-logo {
  background-image: url("../images/samsung-logo-white.png");
  background-color: #0c4da2;
  background-repeat: no-repeat;
  background-position: center;
}

.argus-logo {
  background-image: url("../images/argus-logo.jpg");
}

.uabc-logo {
  background-image: url("../images/uabc-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e8eb;
}

.algorithims-logo {
  background-image: url("../images/code.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  /* background-color: #e6e8eb; */
}


.coder-logo {
  background-image: url("../images/coder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34b65b;
  background-size: 80%;
}

.card-subtitle {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-bottom: lightgrey solid 1px;
  padding: 5px;
  margin-bottom: 10px;
}

#other-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#achivement-list{
  height: 150px;
}

#other-container .jobDescription{
  padding-top: 0;
}

@media all and (min-width: 768px) {
  .job-card {
    width: 35%;
  }
  .header-job {
    align-self: center;
    width: 35%;
  }
  .items-row {
    padding: 30px;
  }
  .card-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .job-card {
    width: 30%;
  }
  .header-job {
    align-self: flex-start;
  }

  #other-container{
    flex-direction: row;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    height: 100%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}

@keyframes introIcon {
  0% {
    color: aqua;
    left: 3000%;
  }
  100% {
    left: 0%;
  }
}

.icon-fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-intro {
  width: 1em;
  margin-right: .2em;
  font-size: 32px;
  color: white;
  animation-name: introIcon;
  animation-duration: 4s;
  position: relative;
}

#contact {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: white;
  justify-content: center
}

#contact>div {
  margin: 10px;
}

#contact .icon-fontello, #contact .icon-fontello:visited {
  color: #e4ebea;
  text-decoration: none;
  /* background-color: #26a69a; */
}

#contact .icon-linkedin-squared:hover {
  color: #0077B5;
}

#contact .icon-skype:hover {
  color: #00AFF0
}

#contact .icon-phone:hover {
  color: #4AC959
}

#contact .icon-gmail:hover {
  color: #D44638;
}

#contact .icon-github-circled:hover {
  color: #6e5494;
}